<table border="1">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Email</td>
    </tr>
    {{#each users}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.email}}</td>
        </tr>
    {{/each}}
</table>


